
.navbar {
  position: relative;
  background-color: var(--background-color);
  border-bottom: 1px solid #e0e0e0;
  padding: 2.5rem var(--global-padding-x) !important;
}

.navbar.navbar-expand-lg.navbar-light,
.navbar.navbar-expand-md.navbar-light {
  /* background-color: #f39a8b !important; */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ms-auto.navbar-toggler {
  padding-top: 0 !important;
  background-color: transparent !important;
}

.navbar-collapse {
  justify-content: center !important;
}

/* Each nav element gets a left border */
.nav-element {
  position: relative;
  border-left: 3px solid black !important;
  border-right: 3px solid black !important;
  display: inline-block;
}

/* Change button style on hover */
.nav-common-button:hover,
.nav-common-button.is-hovered {
  background-color: var(--primary-color) !important;
  color: white !important;
  text-decoration: none !important;
}

.nav-dropdown-button.is-hovered .dropdown-toggle {
  color: white !important;
}

.nav-dropdown-button .dropdown-toggle {
  transition: color 0.3s ease-in-out 0.3s;
  text-decoration: none !important;
}

.nav-element.nav-common-button .dropdown-toggle:hover {
  color: white !important;
  text-decoration: none !important;
}

.nav-element.nav-link:hover {
  text-decoration: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  background-color: var(--primary-color) !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;
  position: absolute !important;
  top: calc(100% - 16px) !important; /* Pull up by 16px to close the gap */
  left: 0 !important;
  margin-left: -3px !important;
  margin-right: -3px !important;
  text-align: left; /* Align text to the left */
  display: block !important; /* Override bootstrap's display:none */
  will-change: transform, width;
  transform: translateZ(0);
  padding-bottom: 2em !important;

  /* Animation properties */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  width: calc(100% + 6px) !important;
}

.dropdown-menu.show {
  transform: scaleY(1);
  transform-origin: top;
  transition-delay: 0.3s;
}

.dropdown-item {
  position: relative;
  color: white !important;
  background-color: transparent !important;
  text-align: left !importan;
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  font-size: 0.2rem;
  letter-spacing: 0rem;
  font-weight: 600 !important;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none !important;
  font-family: var(--body-font);
}

.dropdown-item a {
  color: white !important; /* Ensure text color remains white */
}

.dropdown-item:hover a {
  background-color: #f39a8b !important;
}

.dropdown-item:hover {
  background-color: #f39a8b !important;
  color: white !important;
  text-decoration: none !important;
}

.nav-element.active-dropdown-parent .nav-common-button {
  color: var(--primary-color) !important;
}

.nav-element.is-hovered.active-dropdown-parent .nav-common-button {
  color: white !important;
}

/* xs */
@media (max-width: 767px) {
  .mobile-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 1000;
    border-bottom: 1px solid #e0e0e0;
  }

  .navbar {
    padding: 1rem !important;
  }
  .navbar.navbar-expand-md.navbar-light {
    z-index: 100 !important;
    padding-top: 0 !important;
    background-color: transparent !important;
  }
  .navbar-collapse .nav-common-button,
  .navbar-collapse .dropdown-item {
    font-size: 1.5em; /* Increased font size for collapsed menu items */
    text-align: left;
    font-weight: 600;
    padding: 8px 0 8px 6rem; /* Added left padding */
    text-decoration: none !important; /* Ensure no text decoration */
  }

  .navbar-collapse .nav-common-button:hover,
  .navbar-collapse .dropdown-item:hover {
    text-decoration: none !important; /* Remove text-decoration on hover */
  }
  .dropdown-item {
    font-weight: 400 !important;
  }
}

/* md */
@media (min-width: 768px) {
  .mobile-nav-container {
    display: none;
  }

  .navbar {
    padding: 2.5rem 8rem !important;
  }
  .navbar,
  .nav-common-button {
    font-family: var(--heading-font);
    font-weight: 700;

    color: var(--text-color);

    padding: 1rem 1rem !important; /* Add space and override bootstrap */
    font-size: 1.6rem;
    letter-spacing: 0rem;
    line-height: 1;
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out 0.3s,
      color 0.3s ease-in-out 0.8s;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
  }
  .dropdown-item {
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    font-size: 1.2rem;
    letter-spacing: -0.1em;
    font-weight: 400 !important;
  }
}

/* lg */

@media (min-width: 992px) {
  .navbar {
    padding: 2.5rem 8rem !important;
  }
  .nav-common-button {
    font-family: var(--heading-font);
    font-weight: 700;

    color: var(--text-color);

    padding: 1rem 1rem !important; /* Add space and override bootstrap */
    font-size: 1.4rem;
    /* letter-spacing: 0.2rem; */
    line-height: 1;
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out 0.3s,
      color 0.3s ease-in-out 0.3s;
  }
  .dropdown-item {
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    font-weight: 400 !important;
  }
}

/* xl */
@media (min-width: 1200px) {
  .navbar {
    padding: 2.5rem 8rem !important;
  }
  .nav-common-button {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--text-color);

    padding: 1rem 2.8rem !important; /* Add space and override bootstrap */
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 1;
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out 0.3s,
      color 0.3s ease-in-out 0.3s;
  }
  .dropdown-item {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    font-size: 1.8rem;
    font-weight: 400 !important;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .navbar {
    padding: 2.5rem 12rem !important;
  }

  .nav-common-button {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.4rem;
    /* letter-spacing: 0.1rem; */
    line-height: 1;
    padding: 1rem 4.7rem !important;

    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out 0.3s,
      color 0.3s ease-in-out 0.3s;
  }
  .dropdown-item {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    font-size: 1.6rem;
    font-weight: 400 !important;
  }
}

.social-icon-circle {
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-circle img {
  width: 5vw;
  max-height: 5vh;
}

.social-icons-container > *:not(:last-child) {
  margin-right: 0.5rem;
}

.social-icon-circle.facebook-icon {
  margin-right: 0.5rem;
}

.social-icon-circle.linkedin-icon {
  margin-right: 0.5rem;
}

.social-icon-separator {
  width: 0.1vw;
  height: 5vh;
  background-color: #000000;
  margin-right: 0.5rem;
}

.nav-link-nous-rejoindre {
  white-space: nowrap;
}

.nous-rejoindre-link {
  display: flex;
  align-items: center;
}
